<script type="text/javascript" src="/static/js/jwplayer.js"></script>
<script type="text/javascript">
    function videoPlayer(id, video)
    {
        jwplayer("mediaplayer_" + id).setup({
            flashplayer: "/static/player.swf",
            file: "/media/" + video,
            skin: '/static/glow.zip',
            height: 156,
            width: 278,
            "controlbar.idlehide": true,
            //image: "preview.jpg"
        });
    }

    {% for video in video_list %}
        {% if video.is_youtube == 0 %}
        videoPlayer("{{ video.id }}", "{{ video.video }}");
        {% endif %}
    {% endfor %}
</script>