<!-- News -->
<div id="slides" class="slides">
    <div class="slides_container">
        {% for post in posts %}
        <div class="slide">
            <div class="caption title-slider">
                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                <p>
                    {{ post.body|striptags|truncatewords_html:15|safe }}
                </p>
            </div>
            <a href="{{ post.get_absolute_url }}">
                <img class="image-slider-home" alt="" src="{{ post.image.url }}" />
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!-- /News -->