{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div id="content">
    <!-- Left Content -->
        <div id="left-content">
            <div id="news">
                <div class="content-title red-bg">
                    <h3>{{ page.title }}</h3>
                </div>
                <div id="left-content-title">
                    <h2>{{ page.subtitle }}</h2>
                </div>

                <div id="news-text">
                    <p>
                        <ul id="gallery-group">
                        {% for logo in logos %}
                            <li>
                                <a href="{{logo.url}}">
                                    <img alt="{{logo.name}}" src="{{logo.logo.url}}">
                                </a>
                                <h4 class="gallery-img-title">{{logo.name}}</h4>
                            </li>
                        {% endfor %}
                        </ul>
                    </p>
                </div>

            </div>
        </div>
        <!-- /Left Content -->

        <!-- Right Content -->
        <div id="right-content">
            {% include "rigth_content.html" %}
        </div>
        <!-- /Right Content -->

    </div>
</div>
{% endblock %}
