{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div id="content">
    <!-- Left Content -->
        <div {% if page.full_page %}class="big-content"{% else %} id="left-content" {% endif %}>
            <div id="news">
                <div class="content-title red-bg">
                    <h3>{{ page.title }}</h3>
                </div>
                <div id="left-content-title">
                    <h2>{{ page.subtitle }}</h2>
                </div>

                <div id="news-text">
                    <p>
                    {{ page.content|safe }}
                    </p>
                </div>

            </div>
        </div>
        <!-- /Left Content -->

        {% if not page.full_page %}
        <!-- Right Content -->
        <div id="right-content">
            {% include "rigth_content.html" %}
        </div>
        <!-- /Right Content -->
        {% endif %}
    </div>
</div>
{% endblock %}
