{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div id="content">
    <!-- Left Content -->
        <div id="left-content">
            <div id="news">
                <div class="content-title red-bg">
                    <h3>{{page.title}}</h3>
                </div>
                {% for profile in profiles %}
                <div id="profile-img"><img id="profile-img" alt="" src="{{ profile.photo.url }}"/></div>
                <div id="profile-text">
                    <div id="left-content-title"><h2>{{ profile.name }}</h2></div>
                    <p>
                    {{ profile.description|safe }}
                    </p>
                </div>
                <hr id="profile-hr">
                {% endfor %}
            </div>
            </div>
        <!-- /Left Content -->

        <!-- Right Content -->
        <div id="right-content">
            {% include "rigth_content.html" %}
        </div>
        <!-- /Right Content -->

    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function()
    {
        var post_image = $("#post-image");
        if(post_image.clientWidth > post_image.clientHeight)
        {
            post_image.css("width", "100%");
        }
    });
</script>
{% endblock %}
