{% load embed_video_tags staticfiles sponsors_tags %}

{% for video_item in videos %}
<div id='video-{{video_item.id}}' class='popup'>
    <div class="pop-video-player">
        <div class="video-sidepanel-left">
            {% render_sponsor '150x406' %}
        </div>
        <div class="video-player-content">
            {% video video_item.video as video_field %}
                {{ video_field|embed:'720x407' }}
            {% endvideo %}
        </div>
        <div class="video-sidepanel-right">
            {% render_sponsor '150x406' %}
        </div>
        <p>
            <span onclick="closePhotoPopup('#video-{{video_item.id}}')">
                <img src="{% static 'img/close.png' %}" class="video-close-button">
            </span>
        </p>
    </div>
</div>
{% endfor %}
