{% extends 'base.html' %}
{% load staticfiles video_tags %}

{% block extra_css %}
<link href="{% static 'css/video.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="container">
    <div id="content">
    <!-- Left Content -->
        <div id="left-content">
            <div id="news">
                <div class="content-title red-bg">
                    <h3>Videos</h3>
                    <div id="content-title-nav">
                        <a href="{% url 'albums_list' %}">Gallery</a>
                        <a href="{% url 'videos_list' %}" class="active-red">Videos</a>
                    </div>
                </div>
                <div id="left-content-title">
                    <ul class="videos-group">
                        {% for video in videos %}
                        <li>
                            <span onclick="openPhotoPopup('#video-{{video.id}}')">
                                <img alt="{{ video.title }}" src="{{ video.get_thumbnail }}"/>
                            </span>
                            <h4 class="video-title">{{ video.title }}</h4>
                            <p class="video-date">{{ video.created|date:"M d, Y" }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if is_paginated %}
            <div class="pagination_content">
                <ul class="pagination_b">
                    <li>
                        {% for page in paginator.page_range %}
                        <a href="{% url 'videos_list' %}?page={{page}}"> {{page}}</a>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            {% endif %}
            <!-- /Left Content -->
        </div>
        <!-- Right Content -->
        <div id="right-content">
            {% include "rigth_content.html" %}
        </div>
        <!-- /Right Content -->
    </div>
</div>

{# Render video pop up templates #}
{% render_video_popup_templates videos %}
{% endblock %}