{% load embed_video_tags staticfiles  %}

<div id="slider" class="video-slider">
    <ul style="display: inline-block;">
        {% for video_post in videos %}
        <li style="text-align: center;">
            <span id="video-player" style="cursor:pointer;" onclick="openPhotoPopup('#video-{{video_post.id}}')">
                <img width="270" height="100%" src="{{video_post.get_thumbnail}}"/>
            </span>
            <span id="home-video-play-button" style="cursor:pointer;" onclick="openPhotoPopup('#video-{{video_post.id}}')">
                <img src="{% static 'img/play.png' %}">
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
