<div class="best-of-the-best-panel">
    <a href="{{panel.more_info}}">
        <img src="{{panel.image.url}}">
    </a>

    <div class="banner_btn td red-bg">
        <a href="{{panel.more_info}}">MORE INFO</a>
    </div>
    <div class="banner_btn td red-bg">
        <a href="{{panel.whos_comming}}">WHO'S COMMING</a>
    </div>
    <div class="banner_btn td red-bg">
        <a href="{% url 'register' %}">REQUEST A SPOT</a>
    </div>
</div>
