{% load inplace_edit staticfiles %}

{% for button in buttons %}
<div class="btn-red-elite td red-bg panel-btn-red">

    {% if request.user.is_staff %}
    <div class="panel-img-remove" onClick="remove_item({{button.id}}, '{{button.item_type}}')">
        <img src="{% static 'img/trash-icon.png' %}">
    </div>
    {% endif %}

    <a href="{{button.url}}">
        {% inplace_edit 'button.text' %}
    </a>


</div>
{% endfor %}