{% load panel_tags inplace_edit staticfiles %}

<div class="panel-container" {{panel.use_no_margin}} {{panel.extra_width}}>
    <div class="head-title red-bg">
        <h2>{% inplace_edit "panel.title" %}</h2>
    </div>

    {% for item in items %}
    <div class="{{class_name}}">
        {% if request.user.is_staff %}
        <div class="panel-add-buttons">
            <a href="/panel/add/{{panel.id}}/image/{{item}}/">
                <u>Add image</u>
            </a> - <a href="/panel/add/{{panel.id}}/button/{{item}}/">
                <u>Add button</u>
            </a>
        </div>
        {% endif %}

        {% render_image_item panel.id item %}
        {% render_button_item panel.id item %}

    </div>
    {% endfor %}

    {% if request.user.is_staff %}
    <div class="modify-slides">
        <input type="text" value="{{num_items}}" class="modify-text">
        <button onClick="change_slides(this, {{panel.id}})">submit</button>
    </div>
    {% endif %}
    <!-- Items -->
</div>