{% load inplace_edit staticfiles %}

{% for image in images %}
<div class="panel-img">
    <a href="{{image.url}}">
        {% inplace_edit 'image.image' width="150" %}
    </a>
    {% if request.user.is_staff %}
    <div class="panel-img-remove" onClick="remove_item({{image.id}}, '{{image.item_type}}')">
        <img src="{% static 'img/trash-icon.png' %}">
    </div>
    {% endif %}
</div>
{% endfor %}
