
<table style="border-style: none;" id="table_{{name}}">
    <tr>
        <td colspan="2">
            <input type="url" name="{{name}}" id="id_{{name}}" value="{{value}}" style="width:100%">
        </td>
    </tr>

    <tr>
        <td style="width: 10px;">
            <input type="checkbox" class="check-select" data-select="pages">
        </td>
        <td>
            <label for="pages">Pages</label>
            <select id="pages" name="nodata" class="internal-selection">
                {% for page in pages %}
                <option value="http://{{site}}{{page.get_absolute_url}}">{{page.title|truncatechars:30}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="check-select" data-select="blog">
        </td>
        <td>
            <label for="blog">Blog</label>
            <select id="blog" name="nodata" class="internal-selection">
                {% for post in blog %}
                <option value="http://{{site}}{{post.get_absolute_url}}">{{post.title|truncatechars:30}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="check-select" data-select="tournaments">
        </td>
        <td>
            <label for="tournaments">Tournaments</label>
            <select id="tournaments" name="nodata" class="internal-selection">
                {% for tournament in tournaments %}
                <option value="http://{{site}}{{tournament.get_absolute_url}}">{{tournament.name|truncatechars:30}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
</table>

<script type="text/javascript">

    $("#table_{{name}}").find(".check-select").on("click", function(){
        var self = this;

        $("#table_{{name}}").find(".check-select").each(function(){
            if(this !== self) {
                $(this).prop('checked', false);
            }
        });

        //$("#table_{{name}}").find(".internal-selection").prop('disabled', 'disabled');
        $("#table_{{name}}").find("#" + $(this).attr("data-select")).prop('disabled', false).change();
    });

    //$("#table_{{name}}").find(".internal-selection").prop('disabled', 'disabled');

    $("#table_{{name}}").find(".internal-selection").on("change", function(){
        $("#table_{{name}}").find("#id_{{name}}").val($(this).val());
    });

</script>