#header #header-menu {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #21759B;
}

#header #header-menu > li.branding a {
    color: white;
    padding-top: 7px;
    height: 21px;
}

#header #header-menu > li a:hover {
    background-color: #BE353A;
    background: #BE353A;
}

.inline-related fieldset {
    background-image: -webkit-linear-gradient(bottom, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(bottom, #f5f5f5, #f9f9f9);
}

/* Remove inline title */
.inline-related h3 {
    display: none;
}

fieldset.module {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}

.wp-collapse h2{
    background-color: #21759B;
    background-image: -moz-linear-gradient(bottom, #21759b, #2a95c5);
    background-image: -webkit-linear-gradient(bottom, #21759b, #2a95c5);
    background-image: -o-linear-gradient(bottom, #21759b, #2a95c5);
    background-image: -ms-linear-gradient(bottom, #21759b, #2a95c5);
    background-image: linear-gradient(bottom, #21759b, #2a95c5);
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    border: 2px solid #5b80b2;
    font-weight: normal;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.wp-collapsed {
    display: none;
}
