#news-date-autor p
{
    font-size: 10px;
    color: #666;
}

#news-date-autor {
    padding: 10px;
}

#news-text
{
    width: 100%;
    text-align: justify;
    padding: 10px;
}

.news-list
{
    width: 206px;
    margin: 10px 10px 0 10px;
    border-radius: 1px;
    background: #f2f2f2;
    outline: none;
    border: 1px solid #b3b3b3;
}

/* Post */

.post{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.post-img{
    width: 180px;
    margin-right: 10px;
    display: inline-block;
}

.post-img img{
    width: 180px;
    height: 135px;
    vertical-align: bottom;
}

.post-img a{
    display: block;
}

.post-more{
    width: 35px;
    height: 26px;
    padding: 0 10px;
    margin: 10px 0;
}

.post-more a{
    font-size: 10px;
    font-weight: 600;
    display: block;
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0, .5);
    padding: 6px 0;
}

.post-more a:hover{
    text-decoration: underline;
}
