
.jackbox-social{
    visibility: hidden;
    display: none;
}

#gallery-group{
    list-style: none;
    padding: 0;
    width: 620px;
    margin: 0;
}

#gallery-group li {
float: left;
margin: 12px 12px 0 0;
padding-bottom: 10px;
width: 194px;
border-bottom: 1px solid #ccc;
text-align: center;
}

#gallery-group li img
{
    width: 194px;
    height: 139px;
}

#gallery-group a {
    display: block;
}

.gallery-img-title{
    color: #000;
    font-size: 10px;
    font-weight: 600;
    margin: 5px 0;
}

.gallery-img-date{
    color: #666;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
}
