/* Home post slides configuration */

.slide
{
    height: 380px;
    min-height: 380px;
}

.slide img
{
    width: 100%;
    height: 100%;
}

.video-slider {
    display: none;
}

.title-slider {
    background-image: url("../img/overlay-bg.png");
    bottom: 0;
    display: none;
    height: 100px;
    left: 0;
    margin-top: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    text-overflow: ellipsis;
    width: 100%;
    z-index: 3;
}

.slides_container
{
    width: 100%;
    max-width: 380px;
    min-width: 300px;
    height: 380px;
    max-height: 380px;
    overflow: hidden;
}

.title-slider h2
{
    color: #fff;
    letter-spacing: -1px;
    font-weight: 600;
    margin: 0;
}

.title-slider h2 a
{
    text-decoration: none;
    color: white;
}

.title-slider p {
    color: #fff;
    overflow:hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    font-size: 10px;
}

.world-prev-arrow {
    cursor: pointer;
    background: url("../img/arrow-slider.png") no-repeat 0 0;
    width: 22px;
    height: 22px;
    top: -90px;
    left: -10px;
    position: relative;
    z-index: 3;
}

.world-prev-arrow:hover {
    background-position: 0 -22px;
    z-index: 3;
}

.world-next-arrow {
    cursor: pointer;
    background: url("../img/arrow-slider.png") no-repeat -22px 0;
    width: 22px;
    height: 22px;
    top: -112px;
    right: -366px;
    position: relative;
    z-index: 3;
}

.world-next-arrow:hover {
    background-position: -22px -22px;
    z-index: 3;
}

/****** Home Panel Buttons *****/

.panel-container {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    width: 185px;
    max-width: 185px;
    height: 354px;
    background-color: #e6e6e6;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 0px 1px #b3b3b3, inset 0 0 0 2px #fff;
    box-shadow: inset 0 0 0px 1px #b3b3b3, inset 0 0 0 2px #fff;
}

.panel-add-buttons {
    width: 100%;
    text-align: center;
}

.panel-add-buttons a {
    text-decoration: none;
    color: gray;
}

.panel-img {
    margin: 5px auto;
    width: 170px;
    text-align: center;
}

.panel-img-remove {
    float: right;
    z-index: 3;
    position: relative;
    cursor: pointer;
    margin-right: 2px;
}

.panel-btn-red {
    margin-left: 6px;
    height: 24px;
    padding: 0;
    width: 168px;
}



.single-item-panel {
    height: 300px;
}

.two-items-panel {
    height: 145px;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: inset 0px -1px 0px 0px #ccc;
    box-shadow: inset 0px -1px 0px 0px #ccc;
}

.two-items-panel:last-child {
    border-bottom: 0;
}

.three-items-panel {
    height: 100px;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: inset 0px -1px 0px 0px #ccc;
    box-shadow: inset 0px -1px 0px 0px #ccc;
}

.three-items-panel:last-child {
    border-bottom: 0;
}

.modify-text {
    width: 30px;
    height: 12px;
    margin-left: 20px;
}

.best-of-the-best-panel {
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px 5px 10px 5px;
}

.buttom-image {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    width: 620px;
    max-width: 620px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
