
#logos {
    list-style: none;
}

#logos img {
    width: 104px;
}

#logos li {
    float: left;
    margin: 10px 0;
    width: 140px;
    height: 143px;
    text-align: center;
}

.logos-img-title {
    color: #000;
    font-size: 10px;
    font-weight: 600;
    margin: 5px 0;

}

.logos-img-date {
    color: #666;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
}
