#gallery-group {
    list-style: none;
    padding: 0;
    width: 620px;
    margin: 0;
}

#gallery-group li {
    float: left;
    margin: 12px 12px 0 0;
    padding-bottom: 10px;
    width: 194px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

#gallery-group li img {
    width: 194px;
    height: 139px;
}

.big-content {
    width: 100%;
    max-width: 940px;
    min-width: 300px;
    float: left;
    margin-right: 10px;
    min-height: 600px;
}

iframe {
    overflow-x: hidden;
    overflow-y: scroll;
}