/******************* 
Popup
********************/
.popup
{
	visibility: hidden;
	display: none;
	overflow: auto;
	z-index: 30;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: fixed;
	text-align: center;
	background: url('../img/overlay-bg.png');
}

.front-popup
{
	visibility: visible;
	display: inline;
	z-index: 100;
}

/* === Popup Ads === */

.pop-ads{
	top: 25px;
	width: 600px;
	height: 500px;
	margin: auto;
	background-color: #fff;
	box-shadow: 0 5px 25px rgba(0,0,0, .8);
	position: relative;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

#popup_title{
	width: 100%;
	height: 35px;
}

#popup_title h4{
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	padding: 7px 10px;
}

.popup_btn{
	display: inline-block;
	margin-top: 10px;
	margin-left: 5px;
	width: 20%;
	height: 30px;
	padding: 0 6px;

}

.popup_btn:hover{
background: url("../img/red-bg-hover.png") repeat-x 0 center;

}

.popup_btn a, .popup_btn span {
	font-size: 12px;
	display: block;
	color: white;
	text-shadow: 0 -1px rgba(0, 0, 0, .5);
	padding: 6px 0;
}

#popup_bottom{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 56px;
	background: url('../img/popup_bottom.png');
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #fff;
}