.ad-250 {
    width: 300px;
    height: 250px;
    margin-top: 20px;
}

.ad-125 {
    width: 300px;
    height: 125px;
    background: #000;
    margin-top: 17px;
}

.ad-nav {
    width: 208px;
    height: 230px;
    background: #ccc;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    float: left;
    margin: 0 10px;
}

.video-sidepanel {
    width: 150px;
    height: 406px;
}

.ad-sponsor {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border: 1px solid #fff;
}