/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url("popup.css");

html,
button,
input,
select,
textarea {
    color: #222;
}

body
{
    font-size: 1em;
    line-height: 1.4;
    /*visibility: hidden;*/
    -moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.errorlist li {
	list-style: none;
	color: red;
}

.home-link
{
	text-decoration: none;
	color: black;
}

.flex-control-nav
{
	margin-top: -20px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	background: #000;
}


/*
	Pagination
*/

.btn-head {
	width: 200px;
}

.links-header{
	margin-right: 5px;
	width: 190px;
}

.center {
	text-align: center;
}

.pagination_content ul li {
	text-align: center;
	width: 100%;
	margin-top: 15px;
}

.pagination_b
{
	max-width: 300px;
}

.pagination_b li
{
	display: inline-block;
	list-style: none;
	left: auto;
}

.pagination
{
	position: absolute;
	left: 42%;
	margin-top: -18px;
	padding: 0;
	width:100px;
	z-index: 10;
}

.pagination li
{
	float: left;
	margin: 0px 2px;
	list-style: none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/* === Sidepanels=== */

#sidepanel-left {
	width: 160px;
	position: absolute;
	top: 150px;
	left: 15px;
}

#sidepanel-right {
	width: 160px;
	position: absolute;
	top: 150px;
	right: 15px;
}

#sidepanel-left a, #sidepanel-right a{
	display: block;
	}

#sidepanel-left img, #sidepanel-right img
{
	width: 160px;
	height: 550px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}



#header-top{
	height: 30px;
}

#header-top p{
	display: block;
	float: left;
	line-height: 1;
	color: #fff;
	font-size: 10px;
	margin-left: 10px;
}

.container{
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#header-top.form-search{
float: left;
}

#header-right{
	width: 366px;
	height: 30px;
	float: right;
	overflow: visible;
	border-radius: 0 0 3px 3px;
}

.form-search{
	display: block;
	float: left;
	padding: 4px 0;
	position: relative;
	margin-left: 10px;
}

.form-search input{
	font-size: 11px;
	color: #808080;
	padding: 2px;
	background-color: #231F20;
	border: 1px solid #666;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
}

.form-search button{
	font-size: 11px;
	color: #fff;
	font-weight: 600;
	text-shadow: 0 0 1px #000;
	padding: 3px 5px;
	border: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	-ms-transition: background .2s ease-in-out;
	-o-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
	}

.form-search button:hover{
	background: url("../img/red-bg-hover.png") repeat-x 0 center;
}

#login-nav{
	float: right;
}

#login, #register{
	float: left;
}

#login{
	border-right: 1px solid #808080;
}

#register{
	border-left: 1px solid #b3b3b3;
}

#login a, #register a{
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px #fff;
	font-weight: 600;
	padding: 7px 10px;
	display: block;
	}

header h1{
	margin:0;
	float:left;
}

/* //if -ie8
#logo-01 a
{
	background: url('../img/tbl-logo-01.png') no-repeat;
	display: block;
	width: 142px;
	height: 88px;
	margin: 12px 10px;
	position: absolute;
	text-indent:-9999px;
}

header h2{
	margin:0;
	float:right;
}

#logo-02 a
{
	background: url('../img/tbl-logo-02.png') no-repeat;
	display: block;
	left: 50%;
	width: 92px;
	height: 82px;
	margin: 12px 10px;
	margin-left: 378px;
	position: absolute;
	text-indent:-9999px;
}
*/


#logo-01 a
{
	background: url('../img/tbl-logo-01.png') no-repeat;
	display: block;
	width: 142px;
	height: 88px;
	margin: 12px 10px;
	position: relative;
	text-indent:-9999px;
}

header h2{
	margin:0;
	float:right;
}

#logo-02 a
{
	background: url('../img/tbl-logo-02.png') no-repeat;
	display: block;
	width: 92px;
	height: 82px;
	margin: 12px 10px;
	position: relative;
	text-indent:-9999px;
}


ul#nav{
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	width: 960px;
	height: 36px;
	list-style: none;
	margin: 118px auto 0 auto;
	padding: 0;
	position: relative;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .5);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .5);
	-webkit-text-shadow: 0 -1px 0 #000;
	text-shadow: 0 -1px 0 #000;

}

#nav li {
display: inline-block;
}

#nav li a {
	color: #fff;
	padding: 10px 16px;
	margin-left: -1px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	-ms-transition:     all 0.2s ease-in-out;
	-o-transition:      all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;
}

#nav li a:hover{
	background: #fff;
	color: #EC1C24;
	-webkit-text-shadow: none;
	text-shadow: none;
}

#nav a {
	color: #fff;
	display: inline-block;
	padding: 0 16px;
}

ul.dropdown {
	background: url('../img/dropdown-bg.png') repeat-x #fff;
	display: none;
	padding: 0;
	margin: -1px 0 0;
	position: absolute;
	width: 960px;
	height: 250px;
	z-index: 9999;
	left: 0;
	top: 36px;
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition:    background 0.2s ease-in-out;
	-ms-transition:     background 0.2s ease-in-out;
	-o-transition:      background 0.2s ease-in-out;
	transition:         background 0.2s ease-in-out;
}

li:hover ul.dropdown {
display: block;
}

.dropdown #section-left{
	padding: 10px;
	/* width: 460px; */
	float: left;
	white-space: nowrap;
	overflow: hidden;
}

#section-left ul{
	text-transform: uppercase;
	text-align: left;
	list-style: none;
	text-shadow: 0 1px 0 #000;
	margin: 0;
	padding: 0;
	width: 220px;
	float: left;
}

#section-left ul li{
	display: block;
	line-height: 0;
	margin: 0;
	-webkit-text-shadow: none;
	text-shadow: none;
}

#section-left ul li a{
	font-size: 10px;
	color: #333;
	text-overflow: ellipsis;
	padding: 7px 0;
}

#section-left ul li a:hover {
	background: none;
}

#dropdown-select-stats{
	margin-left: 5px;
}

#dropdown-select-stats label{
	font-size: 10px;
	-webkit-text-shadow: none;
	text-shadow: none;
}

.dropdown-stats ul{
	width: 440px !important;
}

.dropdown-stats p{
	font-size: 11px;
	margin: 10px 0 0 5px;
}

.dropdown-stats-list {
	width: 76px;
	margin: 5px 10px 0 10px;
	font-size: 10px;
}

.dropdown-seasons-list{
	width: 155px;
	margin: 5px 10px 0 10px;
	font-size: 10px;
}

#section-right{
	padding: 10px;
	width: 460px;
	float: right;
}

#section-right ul li a{
	padding: 0;
}

.ad-nav{
	width: 208px;
	height: 230px;
	background: #ccc;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	float: left;
	margin: 0 10px;
}

#section-right .ad-nav a {
	padding: 0;
}

.ad-nav img {
	width: 208px;
	height: 230px;
}

/* Resources */
.red-bg{
	white-space: nowrap;
	text-decoration: none;
	vertical-align: top;
	-webkit-transition: opacity .2s;
	background: url("../img/red-bg.png") repeat-x 0 center;
}

.grey-bg{
	white-space: nowrap;
	text-decoration: none;
	vertical-align: top;
	-webkit-transition: opacity .2s;
	background: url("../img/grey-bg.png") repeat-x 0 center;
}
.black-bg{
	white-space: nowrap;
	text-decoration: none;
	vertical-align: top;
	-webkit-transition: opacity .2s;
	background: url("../img/black-bg.png") repeat-x 0 center;
}

#header-slider{
	height: 120px;
	overflow: hidden;
	padding 0px;
	margin 0px;
	background: url("../img/h-slider-bg.png") repeat-x 0 center;
}

.slider-panel
{
	float: left;
	/*overflow: hidden;*/
	margin: 0px 10px;
	width: 220px;
	height: 120px;
}


/* 3d */
.td{
	border: 1px solid rgba(0,0,0,.25);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0px 0px rgba(255, 255, 255, .25), inset 0 -4px 0px rgba(0, 0, 0, .3), 0 2px 6px 0px rgba(0, 0, 0, .5);
	box-shadow: inset 0 1px 0px 0px rgba(255, 255, 255, .25), inset 0 -4px 0px rgba(0, 0, 0, .3), 0 2px 6px 0px rgba(0, 0, 0, .5);

	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition:    background 0.2s ease-in-out;
	-ms-transition:     background 0.2s ease-in-out;
	-o-transition:      background 0.2s ease-in-out;
	transition:         background 0.2s ease-in-out;
}

.td:active{
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0px 0px rgba(255, 255, 255, .5), inset 0 -1px 0px rgba(0, 0, 0, .3), 0 2px 2px 0px rgba(0, 0, 0, .5);
	box-shadow: inset 0 1px 0px 0px rgba(255, 255, 255, .5), inset 0 -1px 0px rgba(0, 0, 0, .3), 0 2px 2px 0px rgba(0, 0, 0, .5);
}

.slider-logo{
	background: #e6e6e6;
	margin: 14px 10px;
	width: 106px;
	height: 78px;
	float: left;
}

.slider-logo a{
	height: 68px;
	display: block;
	margin: 0 auto;
	padding: 5px;
}

.slider-logo img{
	width: 94px;
	height: 58px;
}

.btn-logo-slider {
	float: left;
}

.btn-red-slider{
	width: 78px;
	height: 30px;
	padding: 0 4px;
	margin-top: 14px;
}

.btn-red-slider:hover{
	background: url("../img/red-bg-hover.png") repeat-x 0 center;
}

.btn-red-slider a{
	display: block;
	text-align: center;
	font-size: 10px;
	text-decoration: none;
	color: #fff;
	-webkit-text-shadow: 0 -1px rgba(0,0,0, .5);
	text-shadow: 0 -1px rgba(0,0,0, .5);
	line-height: 3;
}

.prev-arrow {
	cursor: pointer;
	background: url("../img/arrow-slider.png") no-repeat 0 0;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 44px;
	left: -10px;
}

.prev-arrow:hover {
	background-position: 0 -22px;
}

.next-arrow {
	cursor: pointer;
	background: url("../img/arrow-slider.png") no-repeat -22px 0;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 44px;
	right: -10px;
}

.next-arrow:hover {
	background-position: -22px -22px;
}

/* ===========  CONTENT ===========*/
#content{
	background-color: #f2f2f2;
	padding: 10px;
	overflow: hidden;
}

#left-content {
	width: 620px;
	float: left;
	margin-right: 10px;
	min-height: 600px;
}

#left-content-first{
	/*width: 95%;*/
	max-width: 380px;
	min-width: 300px;
	float: left;
	margin-right: 10px;
}

#left-content-second{
	width: 220px;
	margin-left: 10px;
	float: left;
}

/* headlines */
#headlines{
	width: 220px;
	height: 380px;
	background-color: #e6e6e6;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	box-shadow: inset 0 0 0px 1px #b3b3b3, inset 0 0 0 2px #fff;
}

.head-title{
	padding: 5px;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .25);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .25);
	border: 1px solid #D31321;
	-webkit-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	text-transform: uppercase;
}

.head-title h2{
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-shadow: 0 -1px rgba(0,0,0, .5);
}

.head-title h2 a{
	text-decoration: none;
	color: white;
}

.headlines-news{
	display: block;
	margin: 5px 10px;
	padding: 8px 0;
	border-bottom: 1px solid #fff;
	box-shadow: inset 0px -1px 0px 0px #ccc;
}

.headlines-news a{
	text-decoration: none;
	color: #333;
	font-weight: 600;
	font-size: 11px;
}

.headlines-news a:hover{
	color: #666;
}

/* Up Coming Event */
#up-coming-content{
	margin-top: 10px;
	width: 220px;
	height: 538px;
	background-color: #e6e6e6;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	box-shadow: inset 0 0 0px 1px #b3b3b3, inset 0 0 0 2px #fff;
}

.up-coming-panel {
	margin: 4px 10px;
	width: 200px;
	height: 158px;
	border-bottom: 1px solid #fff;
	-webkit-box-shadow: inset 0px -1px 0px 0px #ccc;
	box-shadow: inset 0px -1px 0px 0px #ccc;
}

.up-coming-panel2
{
	margin: 4px 10px;
	width: 200px;
	height: 158px;
	border-bottom: 0px solid #fff;
}

.no-sb{
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-bottom: none !important;
}

.up-coming-logo{
	background: #e6e6e6;
	margin: 10px auto;
	width: 170px;
	height: 100px;
}

.up-coming-logo a{
	height: 90px;
	display: block;
	margin: 0 auto;
	padding: 5px 18px;
}

.up-coming-logo img{
	width: 134px;
	height: 90%;
}

.btn-logo-up-coming {
	width: 170px;
	display: inline;
	margin: 0 10px;
	text-align: center;
}

.btn-red-up-coming{

	display: inline-block;
	margin-left: 5px;
	height: 30px;
	padding: 0 6px;
}

.btn-red-up-coming a {
	font-size: 78%;
	display: block;
	color: #fff;
	text-shadow: 0 -1px rgba(0,0,0, .5);
	padding: 6px 0;
}

#btn-coming-home
{
	width: 70px;
	text-align: center;
}

#btn-request-home
{
	width: 62px;
	text-align: center;
}

.btn-red-up-coming:hover{
	background: url("../img/red-bg-hover.png") repeat-x 0 center;
}

/* === CECIL FIELDER ELITE  WORLD SERIES === */
#elite-content{
	margin-top: 10px;
	height: 172px;
	background-color: #e6e6e6;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 0px 1px #b3b3b3, inset 0 0 0 2px #fff;
	box-shadow: inset 0 0 0px 1px #b3b3b3, inset 0 0 0 2px #fff;
}

#elite-container {
	overflow: hidden;
	height: 140px;
	margin: 0;
}

.elite-content-panel {
	margin: 5px;
	width: 116px;
	height: 132px;
	float: left;

}

.elite-content-logo{
	background: #e6e6e6;
	margin: 10px auto;
	width: 106px;
	height: 75px;
}

.elite-content-logo a{
	height: 52px;
	display: block;
	margin: 0 auto;
	padding: 5px 5px;
}

.elite-content-logo img{
	width: 94px;
	height: 58px;
}

.btn-logo-elite {
	width: 110px;
	display: inline-block;
	margin: 0 3px;
}

.btn-red-elite{
	margin-left: 2px;
	height: 24px;
	padding: 0 1px;
}

.btn-red-elite a {
	font-size: 9px;
	display: block;
	color: #fff;
	text-shadow: 0 -1px rgba(0, 0, 0, .5);
	padding: 5px 2px;
	font-weight: 700;
	text-align: center;
}

.btn-red-elite:hover{
	background: url("../img/red-bg-hover.png") repeat-x 0 center;
}

/*=== Standings ===*/

#standings, #photos{
	float: left;
	margin-top: 10px;
	width: 185px;
	/*max-width: 185px;*/
	height: 354px;
	background-color: #e6e6e6;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 0px 1px #b3b3b3, inset 0 0 0 2px #fff;
	box-shadow: inset 0 0 0px 1px #b3b3b3, inset 0 0 0 2px #fff;
}

.list{
	border-radius: 1px;
	background: #f2f2f2;
	outline: none;
	border: 1px solid #b3b3b3;
}

.home-lists{
	width: 165px;
	margin: 10px;
}

.table-standings, .table-scores{
	width: 181px;
	text-align: left;
	margin: 0 auto;
}

.tabular{
	background: #ccc;
}

.tabular th {
	color: #000;
	font-size: 12px;
	font-weight: 700;
	padding: 5px;
	text-shadow: 0px 1px 0px white;
	text-align: left;
	vertical-align: top;
}

.table-standings tbody td, .table-scores tbody td {
	font-size: 10px;
	font-weight: normal;
	line-height: 1.4em;
	padding: 5px;
	text-align: left;
	vertical-align: middle;
	border-bottom: 1px solid white;
	-webkit-box-shadow: inset 0px -1px 0px 0px #CCC;
	box-shadow: inset 0px -1px 0px 0px #CCC;
}

.first-team{
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

#clinics-showcase{
	margin-left: 10px;
}

.view-more{
	margin: 10px;
	height: 26px;
	padding: 0 10px;
}

.view-more a{
	font-size: 10px;
	font-weight: 600;
	display: block;
	color: #fff;
	text-shadow: 0 -1px rgba(0,0,0, .5);
	padding: 6px 0;
}

.view-more:hover{
	background: url("../img/black-bg-hover.png") repeat-x 0 center;
}

/* === Scores === */

#scores, #clinics-showcase {
	float: left;
	margin-top: 10px;
	/*max-width: 185px;*/
	width: 185px;
	height: 300px;
	background-color: #e6e6e6;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 0px 1px #b3b3b3, inset 0 0 0 2px #fff;
	box-shadow: inset 0 0 0px 1px #b3b3b3, inset 0 0 0 2px #fff;
}

/* === Photos === */

.photos-panel {
	margin: 0 auto;
	width: 183px;
	height: 84px;
	border-bottom: 1px solid #fff;
	-webkit-box-shadow: inset 0px -1px 0px 0px #ccc;
	box-shadow: inset 0px -1px 0px 0px #ccc;

}

.photos-img{
	margin: 5px auto;
	width: 170px;
}

.photos-img a{
	display: block;
	margin: 0 auto;
	padding: 5px 28px;
}

.photos-img img{
	width: 114px;
	height: 70px;
}


/* === Clinics/Showcase === */

.clinics-panel, .showcase-panel {
	margin: 0 auto;
	width: 183px;
	height: 127px;
	border-bottom: 1px solid #fff;
	-webkit-box-shadow: inset 0px -1px 0px 0px #ccc;
	box-shadow: inset 0px -1px 0px 0px #ccc;

}

.cs h2 {
	font-size: 11px !important;
}


.clinics-img, .showcase-img, .home-case-image{
	margin: 9px auto;
	width: 142px;
	position: relative;
}

.clinics-img a, .showcase-img a{
	display: block;
	margin: 0 auto;
	padding: 5px 0;
}

.clinics-img img, .showcase-img img{
	width: 142px;
	height: 106px;
}

.title-clinics, .title-showcase{
	display: block;
	width: 138px;
	height: 18px;
	background-image: url("../img/overlay-bg.png");
	z-index: 10000;
	padding: 2px;
	margin-top: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	text-overflow: ellipsis;
	overflow:hidden;
}

.title-clinics p, .title-showcase p{
	color: #fff;
	overflow:hidden;
	text-overflow: ellipsis;
	margin-top: 2px;
	font-size: 10px;
}

/* === Clinics/Showcase === */

#tbl {
	margin-top: 10px;
	width: 220px;
	height: 300px;
	background-color: #e6e6e6;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 0px 1px #b3b3b3, inset 0 0 0 2px #fff;
	box-shadow: inset 0 0 0px 1px #b3b3b3, inset 0 0 0 2px #fff;
}

.tbl-photos{
	margin: 14px auto;
	width: 218px;
	border-bottom: 1px solid #ffffff;
	-webkit-box-shadow: inset 0px -1px 0px 0px #CCC;
	box-shadow: inset 0px -1px 0px 0px #CCC;
}
}

.tbl-photos a{
	display: block;
	margin: 0 auto;
	padding: 0;
}

.tbl-photos img{
	width: 160px;
	height: 75px;
	margin: 0 29px;
}


/* ======= Right Content ======== */

#right-content {
	width: 300px;
	float: left;
	margin-left: 10px;
}

/* === Video Corner === */

#video-corner{
	width: 300px;
	height: 245px;
	padding 0px;
	margin 0px;
	/*overflow: hidden;*/
	background: #000;
	position: relative;
}

#video-corner h2{
	text-transform: uppercase;
	padding: 5px;
	margin: 0;
	font-size: 12px;
	font-weight: 600;
	color: #fff;
}

#video-corner p{
	font-size: 10px;
	color: #fff;
	margin: 20px 44px 0 44px;
}
/*
.videoSlidesContainer
{
	width: 298px;
	height: 190px;
}

#video-panel
{
	width: 298px;
	height: 190px;
	float: left;
	overflow: hidden;
	margin: 0px 10px;
}
*/

#slider, #slider ul
{
	margin: 0px;
	padding: 0px 5px 0px 5px;
	overflow:hidden;
}

#slider ul
{
	padding: 0px;

}

#video-player{
	width: 278px;
	/*height: 156px;*/
	background: #333;
	margin: 0px;
	left: 0px;
	overflow:hidden;
	z-index: 0;
}

.prev-arrow-video {
	cursor: pointer;
	background: url("../img/arrow-slider.png") no-repeat 0 0;
	width: 22px;
	height: 22px;
	position: absolute;
	bottom: 14px;
	left: 10px;
}

.prev-arrow-video:hover {
	background-position: 0 -22px;
}

.next-arrow-video {
	cursor: pointer;
	background: url("../img/arrow-slider.png") no-repeat -22px 0;
	width: 22px;
	height: 22px;
	position: absolute;
	bottom: 14px;
	right: 10px;
}

.next-arrow-video:hover {
	background-position: -22px -22px;
}

#slider li, #slider2 li{
	width: 290px;
	height: 186px;
	padding: 0px;
	margin: 0px;
	overflow:hidden;
}
/* Adds */

.ad-top{
	margin-top: 0 !important;
}

.ad-250{
	width: 300px;
	height: 250px;
	margin-top: 20px;
}

.ad-250 a, .ad-125 a{
	display: block;
}

.ad-250 img{
	width: 300px;
}

.ad-125{
	width: 300px;
	height: 125px;
	background: #000;
	margin-top: 17px;
}

.ad-125 img{
	width: 300px;
	}

/* === Shop === */

#shop-widget{
	width: 300px;
	height: 300px;
	margin-top: 10px;
	background-color: #e6e6e6;
	background: url("../img/logo-shop.png") no-repeat center center;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 0px 1px #b3b3b3, inset 0 0 0 2px #fff;
	box-shadow: inset 0 0 0px 1px #b3b3b3, inset 0 0 0 2px #fff;
}

.shop-panel {
background-color: rgba(255,255,255, .7);
overflow: hidden;
margin: 10px 10px 0 10px;
width: 280px;
height: 75px;
}

.shop-item{
	margin: 5px;
	width: 110px;
	height: 60px;
	float: left;
}

.shop-item a{
	display: block;
	margin: 0 auto;
}

.shop-item img{
	width: 100px;
	height: 60px;
}

.shop-btn {
	float: left;
	margin-left: 92px;
}

.shop-btn-red, .shop-btn-black {
	width: 46px;
	height: 27px;
	padding: 0 4px;
	margin-top: 5px;
}

.shop-btn-red:hover{
	background: url("../img/red-bg-hover.png") repeat-x 0 center;
}

.shop-btn-black:hover{
	background: url("../img/black-bg-hover.png") repeat-x 0 center;
}

.shop-btn-red a, .shop-btn-black a{
	display: block;
	text-align: center;
	font-size: 10px;
	text-decoration: none;
	color: #fff;
	-webkit-text-shadow: 0 -1px rgba(0,0,0, .5);
	text-shadow: 0 -1px rgba(0,0,0, .5);
	padding: 5px 0;
}

/* === View Shop === */

#gallery-shop{
	list-style: none;
	padding: 0;
	width: 620px;
	margin: 0;
}

#gallery-shop li {
float: left;
margin: 12px 12px 0 0;
padding-bottom: 10px;
width: 194px;
border-bottom: 1px solid #ccc;
text-align: center;
}

#gallery-shop a {
	display: block;
}

.gallery-shop-img-title{
	color: #000;
	font-size: 10px;
	font-weight: 600;
	margin: 5px 0;
}

.gallery-shop-btn {
	margin: auto;
}

.gallery-shop-btn-red, .gallery-shop-btn-black {
	margin: 5px;
	display: inline-block;
}

.gallery-shop-btn-red:hover{
	background: url("../img/red-bg-hover.png") repeat-x 0 center;
}

.gallery-shop-btn-black:hover{
	background: url("../img/black-bg-hover.png") repeat-x 0 center;
}

.gallery-shop-btn-red a, .gallery-shop-btn-black a{
	display: block;
	text-align: center;
	font-size: 10px;
	text-decoration: none;
	color: #fff;
	-webkit-text-shadow: 0 -1px rgba(0,0,0, .5);
	text-shadow: 0 -1px rgba(0,0,0, .5);
	padding: 8px 25px;
}


/* === Footer === */

#footer-top{
	margin: 15px 0;
	width: 960px;
	height: 270px;
}

.footer-top-title{
	height: 50px;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .25);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .25);
	text-transform: uppercase;
	text-decoration: none;
	vertical-align: top;
	-webkit-transition: opacity .2s;
	background: url("../img/footer-top-title.png") repeat-x 0 center;
}

.footer-top-title h2{
	margin: 0;
	padding: 14px 10px;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-shadow: 0 -1px rgba(0,0,0, .5);
	float: left;
}

ul#social-nav{
	list-style: none;
	display: inline-block;
	margin: 0 20px 0 0;
	padding: 0;
	float: right;
}

#social-nav li{
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: inline-block;
	margin: 0;
}

#social-nav li:hover{
	background: url("../img/fake_brick.png");
}

#social-nav li img{
	width: 40px;
	height: 40px;
	margin: 5px;
}

.social-active{
	background: url("../img/fake_brick.png");
}

/* Facebook */
.social{
	height: 190px;
	background: url("../img/fake_brick.png");
	padding: 10px;
	position: relative;
	clear: both;
	color: white;
}

#facebook, #instagram, #plus, #pinterest, #mail-footer{
	position: absolute;
	display: block;
	background: url("../img/fake_brick.png");
	width: 940px;
	height: 190px;
}

#facebook{
	z-index: 10;
}

#instagram{
	z-index: 9;
}

#plus{
	z-index: 8;
}

#pinterest{
	z-index: 7;
}

#mail-footer{
	z-index: 6;
}

#footer-register{
	width: 100%;
}

#footer-register p{
	font-size: 12px;
	width: 258px;
	float: left;
	margin: 10px 10px 0 0;
}

#footer-register label{
	display: block;
}

#footer-register input{
	width: 248px;
	padding: 2px;
	margin-top: 5px;
	border-radius: 3px;
	background: #f2f2f2;
	outline: none;
	border: 1px solid #b3b3b3;
}

#footer-register input:focus{
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 5px 8px rgba(0,0,0, .5);
	box-shadow: 0 5px 8px rgba(0,0,0, .5);
}

#footer-register select{
	margin: 5px 5px 0 0;
	padding: 2px;
}

#register-submit{
	display: block;
	float: left;
	margin: 8px 0;
}

#register-submit input{
	width: 100px;
	margin: 0;
	height: 24px;
	padding: 4px 10px;
	vertical-align: top;
	-webkit-transition: opacity .2s;
	background: url("../img/red-bg.png") repeat-x 0 center;
	font-size: 12px;
	display: block;
	color: #fff;
	text-shadow: 0 -1px rgba(0, 0, 0, .5);
	border: 1px solid rgba(0,0,0,.25);
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition:    background 0.2s ease-in-out;
	-ms-transition:     background 0.2s ease-in-out;
	-o-transition:      background 0.2s ease-in-out;
	transition:         background 0.2s ease-in-out;
}

#register-submit input:hover{
	background: url("../img/red-bg-hover.png") repeat-x 0 center;
}


.social-section-left {
	width: 380px;
	height: 150px;
	float: left;
}

.social-section-left img{
	width: 380px;
	height: 150px;
}

.social-section-left h3{
	font-size: 16px;
	font-weight: 600;
	text-shadow: 0 1px #000;
	color: #fff;
	text-transform: uppercase;
	margin-top: 5px;
}

.section-social-right{
	width: 540px;
	height: 150px;
	margin-left: 20px;
	float: left;
}

.section-social-right img{
	width: 540px;
	height: 150px;
}

.section-social-right a{
	display: block;
}

.section-social-right iframe{
	float: right;
}

.btn-red-footer-top{
	display: inline-block;
	margin-left: 5px;
	height: 24px;
	padding: 4px 10px;
}

.btn-red-footer-top a {
	font-size: 12px;
	display: block;
	color: white;
	text-shadow: 0 -1px rgba(0, 0, 0, .5);
	padding: 5px 0;
}

.btn-red-footer-top:hover{
	background: url("../img/red-bg-hover.png") repeat-x 0 center;
}

/* Footer-Bottom */
#footer-bottom{
	height: 220px;
	margin-top: 15px;
}

#footer-logo{
	margin: 0;
	float: left;
}

#footer-logo a{
	background: url('../img/footer-logo.png') no-repeat;
	display: block;
	width: 165px;
	height: 145px;
	margin: 10px;
	text-indent: -9999px;
}


/* Footer Navigation */

ul#footer-nav{
	list-style: none;
	margin: 0 0 0 279px;
	padding: 0;
	border-bottom: 1px solid #EC1C24;
}

#footer-nav li{
	display: inline-block;
	margin: 0 20px;
	padding-bottom: 8px;
}

#footer-nav li a{
	color: #fff;
	padding: 10px 16px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	-ms-transition:     all 0.2s ease-in-out;
	-o-transition:      all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;
}

#footer-nav li a:hover{
	color: #EC1C24;
}

#footer-text{
	text-align: justify;
	margin: 25px 0 0 280px;
	color: #fff;
}

#footer-text p {
	margin: 2px;
}

#footer-text a{
	color: #EC1C24;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	-ms-transition:     all 0.2s ease-in-out;
	-o-transition:      all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;
}


/* ==== News ==== */

#news{
	width: 100%;
}


.content-title{
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .25);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .25);
	border: 1px solid #D31321;
	-webkit-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	text-transform: uppercase;
	height: 30px;
	position: relative;
}

.content-title h3{
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-shadow: 0 -1px rgba(0,0,0, .5);
	display: inline-block;
	padding: 0 5px;
	line-height: 2;
}

#toolbar-inplace-edit{
	position: fixed;
}

#content-title-nav{
	float: right;
	position:absolute; top:0; right:0;
}

.content-title a{
	display: inline-block;
	padding: 8px;
	color: #fff;
	text-decoration: none;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	text-shadow: 0 -1px rgba(0,0,0, .5);
}

.content-title a:hover, .active-red{
	background: url("../img/red-bg-hover.png") repeat-x center center;
}

#left-content-title{
	width: 100%;
}

#left-content-title h2 a {
	color: #797979;
	text-decoration: none;
}

#left-content-title h2{
	margin-left: 5px;
	color: #ED1C24;
	font-size: 14px;
	font-weight: 600;
	text-shadow: 0 1px #fff;
	display: inline-block;
}

#tournament-buttons
{
	position: relative;
	width: 100%;
	text-align: center;
	width: 600px;
	left: -75px;
}

#tournament-buttons li
{
	display: inline-block;
	margin: 5px 25px 5px 25px;
}

.tournament-button
{
	width: 100px;
	height: 20px;
	padding: 4px;
}

#tournament-buttons li a
{
	text-decoration: none;
	color: white;
	padding: 6px;
}

/* worlds-buttons */
#worlds-buttons
{
	position: relative;
	width: 100%;
	text-align: center;
	width: 600px;
	left: -20px;
}

#worlds-buttons li
{
	display: inline-block;
	margin: 5px 25px 5px 25px;
}

#paypal-worlds
{
	position: relative;
	text-align: center;
	width: 250px;
	left: 190px;
}

#paypal-worlds input
{
	border: 1px solid #b3b3b3;
	border-radius: 2px;
	background-color: #fff;
	padding: 4px 2px;
	font-size: 12px;
	color: #666;
	margin: 5px 0;
}

#paypal-worlds form table
{
	text-align: center;
}

#worlds-buttons li a
{
	text-decoration: none;
	color: white;
	padding: 6px;
}

#news-img
{
	width: 620px;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
}

#news-img img
{
	max-width: 618px;
}

#news-img #tournament-img
{
	width: 300px;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
}

#profile-img
{
	width: 180px;
	padding: 0px;
	float: left;
	text-align: center;
	margin: 10px auto;
	margin-bottom: 10px;
}

#profile-img #profile-img
{
	width: 170px;
	height: 190px;
}

#profile-hr
{
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#profile-text
{
	float: left;
	width: 440px;
	height: 210px;
	overflow: scroll;
	overflow-x: hidden;
	text-align: left;
	margin: 20px auto 4px auto;
}

#lpa-title  h2
{
	color: black;
	text-align: center;
	font-size: 18px;
}

.lpa_section
{
	margin: 10px 0px 10px 0px;
	padding: 0px;
	width: 620px;
	height: 198px;
}

.lpa_section .lpa_image
{
	margin: 0px 7px 0px 0px;
	padding: 0px;
	float: left;
}

.lpa_section .lpa_image img
{
	width: 300px;
	height: 198px;
}

.lpa_section .lpa_text
{
	width: 312px;
	height: 198px;
	float: left;
	margin: 0px;
	overflow-y: scroll;
}

.world-partner-image
{
	width: auto;
	height: 50px;
	max-height: 50px;
	float: left;
	margin-right: 8px;
	margin-top: 8px;
}

.entry {
	display: inline-block;
	width: 420px;
	height: 135px;
	vertical-align: top;
}

.entry p {
	font-size: 10px;
	margin: 0;
}

.entry-header{
    margin-bottom: 8px;
}

.entry-header h1, .entry-header a{
    text-decoration: none;
    font-size: 16px;
    color: #333;
    float: none;
    font-weight: 600;
}


/* === Photos & Video === */
#select-date-gallery, #select-news-all{
	float: right;
}

#select-date-gallery label, #select-news-all label{
	font-weight: 600;
	color: #000;
}

.date-list{
	width: 90px;
	margin: 10px 10px 0 10px;
	border-radius: 1px;
	background: #f2f2f2;
	outline: none;
	border: 1px solid #b3b3b3;
}

/* === Video Player */

.close-button
{
	position: absolute;
	right: 2px;
	top: 2px;
	z-index: 35;
	cursor:pointer;
}

#home-video-play-button
{
	position: relative;
	top: -140px;
	left: 0px;
}

#home-video-play-button img
{
	width: 120px;
}

#home-video-play-button a
{
	text-decoration: none;
}

.video-close-button
{
	position: absolute;
	right: -21px;
	top: -21px;
	margin-left: 0;
	z-index: 35;

	cursor:pointer;
}

.photo-popup
{
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -217px;
	width: 400px;
	background-color: white;
	padding: 15px;
	text-align: center;
}

.pop-video-player
{
	position: fixed;
	width: 1020px;
	height: 406px;
	margin: 8% auto;
	left: 50%;
	margin-left: -510px;
	background-color: #fff;
	box-shadow: 0 5px 25px rgba(0,0,0, .8);
	z-index: 30;
	text-align: center;
}

.popup-home
{
	overflow: auto;
	z-index: 30;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: fixed;
	text-align: center;
	background: url('../img/overlay-bg.png');
}

.pop-home-content
{
	position: fixed;
	width: 1020px;
	height: 406px;
	margin: 8% auto;
	left: 50%;
	margin-left: -510px;
	background-color: #fff;
	box-shadow: 0 5px 25px rgba(0,0,0, .8);
	z-index: 30;
	text-align: center;
}

.video-player-content
{
	float: left;
}

.video-sidepanel-left{
	width: 150px;
	height: 406px;
	float: left;
}

.video-sidepanel-right{
	width: 150px;
	height: 406px;
	float: right;
}

.video-sidepanel-left a, .video-sidepanel-right a{
	display: block;
}

.video-sidepanel-left img, .video-sidepanel-right img{
	width: 150px;
	height: 406px;
}

/* === Standings === */

#select-date-stats{
	margin-left: 5px;
}


.year-list{
	width: 58px;
	margin: 10px 10px 0 10px;
}

.state-list{
	width: 86px;
	margin: 10px 10px 0 10px;
}

.seasons-list{
	width: 140px;
	margin: 10px 10px 0 10px;
}

.age-list{
	width: 60px;
	margin: 10px 10px 0 10px;
}

.division-list{
	width: 120px;
	margin: 10px 10px 0 10px;
}

.tournament-list{
	width: 150px;
	margin: 10px 10px 0 10px;
}

.world-list{
	width: 150px;
	margin: 10px 10px 0 10px;
}

.tables-groups{
	width: 620px;
	margin: 20px 0;
}

.expand-stats {
	text-align: left;
	width: 620px;
}

.expand-tabular{
	background: #ccc;
}

.expand-tabular th {
	color: #000;
	font-size: 12px;
	font-weight: 700;
	padding: 6px 12px;
	text-shadow: 0px 1px 0px white;
	text-align: center;
	vertical-align: top;
}



.expand-stats tbody td {
	font-size: 12px;
	font-weight: normal;
	line-height: 1.4em;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
}

.expand-stats tr:nth-child(odd){

}

.expand-stats tr:nth-child(even) {
	background-color: #e6e6e6;
}

.expand-first-team{
	width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	text-align: left !important;
}

.go-stats, .go-nav{
	font-size: 11px;
	color: white;
	font-weight: 600;
	text-shadow: 0 0 1px black;
	padding: 3px 5px;
	border: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	-ms-transition: background .2s ease-in-out;
	-o-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
}

.go-nav{
	margin-top: 4px;
}

.go-stats{
	margin-top: 8px;
}

.go-nav:hover, .go-stats:hover {
background: url("../img/red-bg-hover.png") repeat-x 0 center;
}

/* === Contactr Us ==== */

#contact-left{
	width: 380px;
	margin: 10px 10px 0 0;
	float: left;
}

#contact-left label{
	font-size: 12px;
	font-weight: 600;
	margin-left: 5px;
}

#contact-left span {
	font-size: 10px;
	color: #666;
	margin: 0 5px;
}

#contact-left input{
	width: 374px;
	border: 1px solid #b3b3b3;
	border-radius: 2px;
	background-color: #fff;
	padding: 4px 2px;
	font-size: 12px;
	color: #666;
	margin: 5px 0;
}

#contact-left select {
	width: 380px;
	border: 1px solid #b3b3b3;
	border-radius: 2px;
	background-color: #fff;
	padding: 4px 2px;
	font-size: 12px;
	color: #666;
	margin: 5px 0;
}

#contact-left textarea{
		width: 374px;
	border: 1px solid #b3b3b3;
	border-radius: 2px;
	background-color: #fff;
	padding: 4px 2px;
	font-size: 12px;
	color: #666;
	margin: 5px 0;
}

#contact-right{
	padding-left: 10px;
	width: 200px;
	margin: 10px 0 10px 10px;
	float: left;
	border-left: 1px solid #ccc;
}

#contact-link p{
	margin: 2px 0px;
}

#contact-link a{
	text-decoration: none;
	color: #EC1C24;
}

#contact-link a:hover {
	text-decoration: underline;
}

#contact-submit{
	display: block;
	float: left;
	margin: 8px 0;
}

#contact-submit input{
	width: 380px;
	margin: 0;
	padding: 6px 10px;
	vertical-align: top;
	-webkit-transition: opacity .2s;
	background: url("../img/red-bg.png") repeat-x 0 center;
	font-size: 12px;
	display: block;
	color: #fff;
	text-shadow: 0 -1px rgba(0, 0, 0, .5);
	border: 1px solid rgba(0,0,0,.25);
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition:    background 0.2s ease-in-out;
	-ms-transition:     background 0.2s ease-in-out;
	-o-transition:      background 0.2s ease-in-out;
	transition:         background 0.2s ease-in-out;
}

#contact-submit input:hover{
	background: url("../img/red-bg-hover.png") repeat-x 0 center;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* Banners */

.banner_btn {
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    height: 30px;
    padding: 0 6px;
}

.banner_btn a {
    font-size: 10px;
    display: block;
    color: white;
    text-shadow: 0 -1px rgba(0, 0, 0, .5);
    padding: 6px 0;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

select#menu-responsive{
	display: none;
}

@media (max-width: 480px) and (min-width: 5px) {

html,body{
	width:100%;
	-webkit-text-size-adjust:auto;
	}

#bg{
	background: #222;
}

header {
	height: 182px;
}

#sidepanel-left, #sidepanel-right, .form-search, #video-corner, ul#nav, #header-slider, #photos, #headlines, #footer-top {
    display: none !important;
    visibility: hidden;
}

.container, #left-content, #left-content-first, #news-content, #news-content img, #standings, .table-standings, .table-scores, #scores{
	width: 100%;
}

#news-content{
	height: 100%;
}

#header-top p{
	    display: none !important;
    visibility: hidden;
/* 	color: #333;
	padding-left: 5px;
	line-height: 0;
	font-size: 9px; */
}

#register{
	background-color: #EC1C24;
}

#login a, #register a {
	color: #fff;
	text-shadow: none;
}

#header-right{
	width: 100%;
	float: none;
}

select#menu-responsive{
	display: block;
	border: 1px solid #EEE;
	cursor: pointer;
	width: 100%;
	padding: 5px;
	margin: 20px 5px;
	color: #676767;
}

#elite-content{
	margin-top: 10px;
	width: 100%;
	height: 100%;
}

.elite-content-panel {
	width: 96%;
	float: none;
	margin: 0 auto;
	height: 100%;
}

.elite-content-logo {
	width: 100%;
	height: 100%;
}

.elite-content-logo a{
	min-height: 146px;
}

.elite-content-logo img {
	width: 100%;
	height: 140px;
}

.btn-logo-elite{
	width: 100%;
	display: inline-block;
	margin: 0 auto;
}

.btn-red-elite{
	width: 98%;
	text-align: center;
	height: 28px;
}

.btn-red-elite a{
	font-size: 10px;
}

.home-lists {
	width: 90%;
	margin: 10px;
}

.first-team{
	width: 75%;
}

#clinics-showcase {
	width: 100%;
	height: 100%;
	margin: 10px 0;
}

#left-content-second{
	width: 100%;
	margin-left: 0;
}

.clinics-panel, .showcase-panel, .clinics-img, .showcase-img, #tbl{
	width: 100%;
	height: 100%;
}

.clinics-img img, .showcase-img img, .up-coming-logo img {
	width: 100%;
	height: 140px;
}

#up-coming-content {
	margin-top: 10px;
	width: 100%;
	height: 100%;

}

.up-coming-panel, .up-coming-panel2
{
	width: 94%;
	height: 100%;
}

.up-coming-logo{
	width: 100%;
	height: 100%;
	margin: 14px 0;
}


.up-coming-logo a{
	height: 100%;
}

/*.btn-logo-up-coming {
	width: 96%;
	display: inline-block;
	margin: 10px;
}*/

.btn-red-up-coming{
	width: 35%;
	text-align: center;
}

.tbl-photos{
	width: 100%;

}

.tbl-photos img {
	width: 100%;
	height: 140px;
	margin: 0;
}

#right-content {
	width: 100%;
	float: left;
	margin-left: 0;
}

.ad-250, .ad-250 img, .ad-125, .ad-125 img {
	width: 100%;
}

#shop-widget {
	display: none;
}

#footer-logo{
	float: none;
}

#footer-logo a {
background: url('../img/footer-logo.png') no-repeat top center;
width: 100%;

}

ul#footer-nav, #footer-nav li{
	margin: 0;
}

#footer-nav li a{
	font-size: 8px;
	padding: 10px 2px;
}

#footer-text{
	margin: 25px 5px;
}

#footer-text p{
	margin: 10px 5px;
}

/* === Contact ===*/

#contact-left, #contact-left select, #contact-submit input {
	width: 100%;
}

#contact-left label{
	font-size: 14px;
}

#contact-left input{
	width: 98%;
}

#contact-submit{
	float: none;
}

/* === tournaments ===*/

#gallery-group {
	width: 100%;
}

#gallery-group li{
	width: 98%;
}

#gallery-group li img{
	width: 100%;
}

.gallery-img-title, .gallery-img-date{
	font-size: 14px;
}

/* === Photos === */

#select-date-gallery, #select-news-all{
	float: none;
}

/* === Standings === */

.tables-groups{
	width: 100%;
}

.expand-stats{
	width: 100%;
}

.expand-stats tbody td{
	font-size: 10px;
	padding: 6px;
}

.news-list{
	width: 100%;
	margin: 10px auto;
}

/* ===  News ===*/

#news-img {
	width: 100%;
}

.post-img{
	width: 100%;
	margin: 0;
}

.post-img img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.entry{
	width: 100%;
	height: 100%;
}

.post-more {
	width: 50%;
	margin: 10px auto;
	text-align: center;
}

.post-more a{
	font-size: 12px;
	text-transform: uppercase;
}

}

.slides{
	position: relative;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}