{% load inplace_edit %}

<div id="photos">
    <div class="head-title red-bg">
        <h2>{% inplace_edit "widget.name" %}</h2>
    </div>

    {% for album in albums %}
    <div class="photos-panel {% if album == albums.2 %}no-sb{% endif %}">
        <div class="photos-img">
            <a href="{% url 'album' album.slug %}">
                <img src="{{ album.front_image }}" width='114' height='70' alt="{{ album.name }}">
            </a>
        </div>
    </div>
    {% endfor %}
    <p class="view-more td black-bg">
        <a href="{% url 'albums_list' %}">More Photos »</a>
    </p>
</div>