{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/logos.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div id="content">
    <!-- Left Content -->
        <div id="left-content">
            <div id="news">
                <div class="content-title red-bg">
                    <h3>TBL Tournaments</h3>
                </div>
                <div id="left-content-title">
                    <h2></h2>
                </div>

                <div id="news-text">
                    <p>
                        <ul id="logos">
                        {% for tournament in tournaments %}
                            <li>
                                <a href="{{tournament.get_url}}">
                                    <img alt="{{tournament.name}}" src="{{tournament.image.url}}">
                                </a>
                                <h4 class="logos-img-title">{{tournament.name}}</h4>
                                <p class="logos-img-date">{{tournament.start_date|date:'M d'}} - {{tournament.end_date|date:'d Y'}}</p>
                            </li>
                        {% endfor %}
                        </ul>
                    </p>
                </div>

            </div>
        </div>
        <!-- /Left Content -->

        <!-- Right Content -->
        <div id="right-content">
            {% include "rigth_content.html" %}
        </div>
        <!-- /Right Content -->

    </div>
</div>
{% endblock %}