{% for qualifier in qualifiers %}
    <div {% if qualifier == tournaments.2 %} class="up-coming-panel2" {% else %} class="up-coming-panel" {% endif %}>
        <div class="up-coming-logo td">
            <a href="{{qualifier.get_absolute_url}}"><img alt="" src="{{qualifier.image.url}}" /></a>
        </div>
        <div class="btn-logo-up-coming">
            <div id="btn-coming-home" class="btn-red-up-coming td red-bg">
                {% if qualifier.get_whos_coming %}
                <a href="{{qualifier.get_whos_coming}}" target="_blank">WHO’S COMING</a>
                {% else %}
                <a href=".">WHO’S COMING</a>
                {% endif %}
            </div>
            <div id="btn-request-home" class="btn-red-up-coming td red-bg">
                {% if qualifier.is_started %}
                    {% if qualifier.get_page.get_scores_url %}
                    <a href="{{qualifier.get_page.get_scores_url}}" target="_blank">SCORES</a>
                    {% else %}
                    <a href=".">SCORES</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'register' %}">REQ. SPOT</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}