{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div id="content">
    <!-- Left Content -->
        <div id="left-content">
            <div id="news">
                <div class="content-title red-bg">
                    <h3>{{ page.title }}</h3>
                </div>
                {% if page.image %}
                <div id="news-img">
                    <img id="post-image" alt="{{ page.title }}" src="{{ page.image.url }}"/>
                </div>
                {% endif %}

                <div id="news-text">
                    <p>
                    {{ page.body|safe }}
                    </p>
                    <p>
                        <ul id="tournament-buttons">
                            {% if not page.paypal_code %}
                            <li>
                                <div class=".gallery-shop-btn-red td red-bg tournament-button">
                                    <a href="{{page.pay_url}}" target="_blank">Payment</a>
                                </div>
                            </li>
                            {% endif %}
                            <li>
                                <div class=".gallery-shop-btn-red td red-bg tournament-button">
                                    <a href="{{page.scores_url}}" target="_blank">Who's Coming</a>
                                </div>
                            </li>
                            <li>
                                <div class=".gallery-shop-btn-red td red-bg tournament-button">
                                    <a href="{% url 'register' %}">Request a spot</a>
                                </div>
                            </li>
                        </ul>
                    </p>
                    <p>

                    </p>
                </div>
                <div id="paypal-worlds">
                    {{page.paypal_code|safe}}
                </div>
            </div>
        </div>
        <!-- /Left Content -->

        <!-- Right Content -->
        <div id="right-content">
            {% include "rigth_content.html" %}
        </div>
        <!-- /Right Content -->

    </div>
</div>
{% endblock %}
