
{% for tournament in tournaments %}
<div class="slider-panel">
    <div class="slider-logo td">
        <a href="{{tournament.get_url}}">
            <img alt="{{tournament.name}}" class="slider-img" src="{{tournament.image.url}}">
        </a>
    </div>
    <div class="btn-logo-slider">
        <div class="btn-red-slider td red-bg">
            {% with tournament.get_whos_coming as link %}
            <a href="{{link}}" {% if link %} target="_blank"{% endif %}>WHO’S COMING</a>
            {% endwith %}
        </div>
        <div class="btn-red-slider td red-bg">
            <a href="{% url 'register' %}">REQUEST A SPOT</a>
        </div>
    </div>
</div>
{% endfor %}
