
{% for tournament in tournaments %}
    <div {% if tournament == tournaments.2 %} class="up-coming-panel2" {% else %} class="up-coming-panel" {% endif %}>
        <div class="up-coming-logo td">
            <a href="{{tournament.get_page.get_absolute_url}}"><img alt="" src="{{tournament.image.url}}" /></a>
        </div>
        <div class="btn-logo-up-coming">
            <div id="btn-coming-home" class="btn-red-up-coming td red-bg">
                {% if tournament.get_page.get_whos_coming_url %}
                <a href="{{tournament.get_page.get_whos_coming_url}}" target="_blank">WHO’S COMING</a>
                {% else %}
                <a href=".">WHO’S COMING</a>
                {% endif %}
            </div>
            <div id="btn-request-home" class="btn-red-up-coming td red-bg">
                {% if tournament.is_started %}
                    {% if tournament.get_page.get_scores_url %}
                    <a href="{{tournament.get_page.get_scores_url}}" target="_blank">SCORES</a>
                    {% else %}
                    <a href=".">SCORES</a>
                    {% endif %}
                {% else %}
                    <a href="/register/">REQ. SPOT</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
