
{% for world in worlds %}
<div class="elite-content-panel">
    <div class="elite-content-logo td">
        <a href="{{world.get_url}}">
            <img alt="{{world.name}}" class="slider-img" src="{{world.image.url}}">
        </a>
    </div>
    <div class="btn-logo-elite">
    <div class="btn-red-elite td red-bg">
        {% with world.get_whos_coming as link %}
        <a href="{{link}}" {% if link %} target="_blank"{% endif %}>WHO’S COMING</a>
        {% endwith %}
    </div>
    </div>
</div>
{% endfor %}
