{% load staticfiles %}

<div class="popup front-popup" id="front-popup">
    <div class="pop-ads">
        <div id="popup_title" class="black-bg">
            <h4>{{ popup.title }}</h4>
        </div>
        <div id="popup_content">
            <a href="{{popup.get_absolute_url}}">
                <img src="{{ popup.image.url }}" width="600" height="410">
            </a>
        </div>
        <div id="popup_bottom">
            <div class="popup_btn td red-bg">
                <a href="{% url 'register' %}">REQUEST A SPOT</a>
            </div>

            {% if popup.whos_comming %}
            <div class="popup_btn td red-bg">
                <a href="{{ popup.whos_comming }}">WHO’S COMING</a>
            </div>
            {% endif %}

            {% if popup.more_info %}
            <div class="popup_btn td red-bg">
                <a href="{{ popup.more_info }}">MORE INFO</a>
            </div>
            {% endif %}

            {% if popup.watch_game_live %}
            <div class="popup_btn td red-bg">
                <a href="{{ popup.watch_game_live }}" target="_blank">WATCH GAME LIVE</a>
            </div>
            {% endif %}
        </div>
        <p>
            <span onclick="closePhotoPopup('#front-popup')">
                <img src="{% static 'img/close.png' %}" class="video-close-button">
            </span>
        </p>
    </div>
</div>
