{% if sidepanel and sidepanel.enable %}
<div id="sidepanel-left">
    <a href="{{ sidepanel.get_absolute_url }}" target="_blank">
        <img alt="{{ sidepanel.title }}" src="{{ sidepanel.image_left.url }}" />
    </a>
</div>
<div id="sidepanel-right">
    <a href="{{ sidepanel.get_absolute_url }}" target="_blank">
        <img alt="{{ sidepanel.title }}" src="{{ sidepanel.image_right.url }}" />
    </a>
</div>
{% endif %}
