{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div id="content">
    <!-- Left Content -->
        <div id="left-content">
            <div id="news">
                <div class="content-title red-bg">
                    <h3>Register</h3>
                </div>
                <div id="contact-left">
                <p>
                    Note: fields required to process your request submitting your request does not guarantee your tema a spot in a <strong>The Baseball Legends</strong> tournament event, only a registration (tournament entry) "paid in full" will guarantee yout team a spot if one is available managers, please do not send in a "request a spot" form unless you are serious about coming to this event, thank you.
                </p>

                <form action="{% url 'register' %}" method="post">{% csrf_token %}

                    {# Render register form #}
                    {{ form.as_p }}

                    <p>Submit your request to request a spot in an event</p>

                    <div id="contact-submit">
                        <input class="submit" type="submit" value="Submit">
                    </div>
                </form>

                </div>
                <div id="contact-right">

                    <p><strong>The Baseball Legends, LLC</strong></p>
                    <p>
                        <strong>Main Office:</strong><br />
                        The Baseball Legends, LLC<br />
                        924 Evelyn Ave.<br />
                        Brawley, CA 92227<br />
                        Office Number: 760-230-5952<br />
                        Fax Number: 760-230-5953<br />
                    </p>
                    <div id="contact-link">
                        <p><a href="http://www.thebaseballlegends.com/">www.thebaseballlegends.com</a></p>
                        <p><a href="mailto:info@thebaseballlegends.com">info@thebaseballlegends.com</a></p>
                    </div>

                </div>
            </div>
        </div>
        <!-- /Left Content -->

        <!-- Right Content -->
        <div id="right-content">
            {% include "rigth_content.html" %}
        </div>
        <!-- /Right Content -->

    </div>
</div>
{% endblock %}