{% extends 'base.html' %}
{% load filter_tags staticfiles %}

{% block extra_css %}
<link href="{% static 'css/gallery.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/website/filters.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div id="content">
    <!-- Left Content -->
        <div id="left-content">
            <div id="news">
                <div class="content-title red-bg">
                    <h3>Galleries</h3>
                    <div id="content-title-nav">
                        <a href="{% url 'albums_list' %}" class="active-red">Gallery</a>
                        <a href="{% url 'videos_list' %}">Videos</a>
                    </div>
                </div>
                <div id="left-content-title"><h2>&nbsp;</h2>
                    <div id="select-date-gallery">
                    <label>Date:</label>
                        <select id="select-month" class="date-list" name="#">
                                <option value="">-- All --</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                        </select>

                        <select id="select-year" class="date-list" name="#">
                            <option value="">-- All --</option>
                            {% available_years %}
                        </select>
                        <button id="filter-go">Go</button>
                    </div>
                </div>
                <ul id="gallery-group" class="gallery">
                    {% for album in albums %}
                    <li>
                        <a href="{% url 'album' album.slug %}">
                            <img alt="{{ album.name }}" src="{{ album.front_image }}"/>
                        </a>
                        <h4 class="gallery-img-title">{{ album.name }}</h4>
                        <p class="gallery-img-date">{{ album.created|date:"M d, Y" }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- /Left Content -->

        <!-- Right Content -->
        <div id="right-content">
            {% include "rigth_content.html" %}
        </div>
        <!-- /Right Content -->
    </div>
</div>
{% endblock %}