{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link href="{% static 'css/jackbox.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/gallery.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/libs/jackbox-packed.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/website/gallery.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div id="content">
    <!-- Left Content -->
        <div id="left-content">
            <div id="news">
                <div class="content-title red-bg">
                    <h3>Photos</h3>
                    <div id="content-title-nav">
                        <a href="{% url 'albums_list' %}" class="active-red">Gallery</a>
                        <a href="{% url 'videos_list' %}">Videos</a>
                    </div>
                </div>
                <div id="left-content-title">
                    <h2><a href="{% url 'albums_list' %}">← Back to Galleries</a></h2>

                    <ul id="gallery-group" class="gallery">
                        {% for photo in album.get_photos %}
                        <li>
                            <a class="jackbox gallery_section" data-group="images" href="{{ photo.image.url }}">
                                <img alt="{{ photo.title }}" src="{{ photo.image.thumbnail.url }}"/>
                            </a>
                            <h4 class="gallery-img-title">{{ photo.title }}</h4>
                            <p class="gallery-img-date">{{ photo.added|date:"M d, Y" }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- /Left Content -->
        </div>
        <!-- Right Content -->
        <div id="right-content">
            {% include "rigth_content.html" %}
        </div>
        <!-- /Right Content -->
    </div>
</div>
{% endblock %}