{% extends 'base.html' %}
{% load blog_tags staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div id="content">
    <!-- Left Content -->
        <div id="left-content">
            <div id="news">
                <div class="content-title red-bg">
                    <h3>News</h3>
                </div>
                <div id="left-content-title"><h2>&nbsp;</h2>
                    <div id="select-news-all">
                    <label>News Section:</label>
                        <select class="news-list" id="select_section">
                            <option value="none" selected="selected">-- --</option>
                            {# render post gategories as option list #}
                            {# templategs: blog:blog_tags #}
                            {% posts_categories_list %}
                        </select>
                    </div>
                    {% for post in blog_posts %}
                        <article class="post">

                            <div class="post-img">
                                <a href="{{ post.get_absolute_url }}">
                                    <img alt="" src="{{ post.image.thumbnail.url }}"/>
                                </a>
                            </div>
                            <section class="entry">
                            <header class="entry-header">
                                <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                            </header>
                                <p class="limit-text-size">
                                    {{ post.body|striptags|truncatewords_html:30|safe }}
                                </p>
                                <div class="post-more td black-bg">
                                    <a href="{{ post.get_absolute_url }}">More »</a>
                                </div>
                            </section>
                        </article>
                    {% endfor %}
                    <div>
                        {% if pages > 1 %}
                            {% for page in pages %}
                                <a href="/news/{{ page }}"></a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /Left Content -->

        <!-- Right Content -->
        <div id="right-content">
            {% include "rigth_content.html" %}
        </div>
        <!-- /Right Content -->

    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>

    $("#select_section").change(function ()
    {
        var section = $("#select_section option:selected").val();
        if(section != "none")
            $(location).attr('href', '/news/?section=' + section);
    });

    $(document).ready(function()
    {
        var current_url = $(location).attr('href');
        split_url = current_url.split("section=");

        if(split_url.length == 2)
        {
            var section = split_url[1];

            $("#select_section option:selected", 'select').removeAttr('selected');
            $("#select_section option").filter(function()
            {
                //may want to use $.trim in here
                return $(this).val() == section;
            }).attr('selected', true);
        }
    });

</script>
{% endblock %}