{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div id="content">
    <!-- Left Content -->
        <div id="left-content">
            <div id="news">
                <div class="content-title red-bg">
                    <h3>News</h3>
                </div>
                <div id="left-content-title">
                    <h2>{{ blog_post.title }}</h2>
                </div>
                <div id="news-img">
                    <img id="post-image" alt="" src="{{ blog_post.image.url }}"/>
                </div>
                <div id="news-date-autor">
                    <p>
                        {% if blog_post.author %}
                            {{ blog_post.author.get_full_name }}
                        {% else %}
                            {{ blog_post.author_name }}
                        {% endif %}
                        {{ blog_post.created }}
                    </p>
                </div>
                <div id="news-text">
                    <p>
                    {{ blog_post.body|safe }}
                    </p>
                </div>
            </div>
            </div>
        <!-- /Left Content -->

        <!-- Right Content -->
        <div id="right-content">
            {% include "rigth_content.html" %}
        </div>
        <!-- /Right Content -->

    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function()
    {
        var post_image = $("#post-image");
        if(post_image.clientWidth > post_image.clientHeight)
        {
            post_image.css("width", "100%");
        }
    });
</script>
{% endblock %}