{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div id="content">
    <!-- Left Content -->
        <div id="left-content">
            <div id="news">
                <div class="content-title red-bg">
                    <h3>Shop</h3>
                </div>
                <div id="left-content-title"><h2>Shopping with our affiliates</h2>
                </div>

                    <ul id="gallery-shop">
                        {% for article in articles %}
                        <li>
                            <a href="{{ article.url_info }}">
                                <img width="200" height="165" alt="" src="{{ article.image.url }}"/>
                            </a>

                            <h4 class="gallery-shop-img-title">{{ article.name }}</h4>

                            <div class="gallery-shop-btn">
                                <div class="gallery-shop-btn-black td black-bg">
                                    <a href="{{ article.url_info }}">
                                        ${{ article.price|floatformat:2 }}
                                    </a>
                                </div>
                                <div class="gallery-shop-btn-red td red-bg">
                                    <a href="{{ article.url_buy }}">BUY</a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        <!-- /Left Content -->

        <!-- Right Content -->
        <div id="right-content">
            {% include "rigth_content.html" %}
        </div>
        <!-- /Right Content -->

    </div>
</div>
{% endblock %}
