
<div id="shop-widget">
    <div class="head-title red-bg">
        <h2>
            <a href="{% url 'shop' %}" style="text-decoration:none;color:white;">Shop</a>
        </h2>
    </div>

    {% for article in articles %}
    <div class="shop-panel">
        <div class="shop-item">
            <a href="{% url 'shop' %}">
                <img alt="{{ article.name }}" src="{{ article.image.url }}">
            </a>
        </div>
        <div class="shop-btn">
            <div class="shop-btn-black td black-bg">
                <a href="{{ article.url_buy }}">${{ article.price|floatformat:2 }}</a>
            </div>
            <div class="shop-btn-red td red-bg">
                <a href="{{ article.url_buy }}" target="_blank">BUY</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
