<h2>TBL Contact Us</h2>
<b>Name: </b> {{contact.first_name}} {{contact.last_name}}<br>
<b>Age Group: </b> {{contact.age_group}}<br>
<b>Team Name / Organization Name: </b>{{contact.team_name}}<br>
<b>Team Division: </b>{{contact.team_division}}<br>
<b>State: </b>{{contact.state}}<br>
<b>Email: </b>{{contact.email}}<br>
<b>Phone Number: </b>{{contact.phone_number}}<br>
<h3>Questions</h3>
<b>Will you like more information on the following event?: </b><br><i>{{contact.question1}}</i><br>
<b>Interested in receiving a monthly TBL Newsletter?: </b><i>{{contact.question2}}</i><br>
<b>Interested in running TBL Tournaments?: </b><i>{{contact.question3}}</i><br>
<b>Interested in becoming a State Director?: </b><i>{{contact.question4}}</i><br>
<b>If you answered yes to the two questions above, provide us with a brief explanation of your past history?: </b><br><i>{{contact.question5}}</i><br>
<b>Need help running a fundraising tournament?: </b><i>{{contact.question6}}</i><br>
<hr>
<h6>The Baseball Legends</h6>