<h2>TBL Register</h2>
<b>Team Name : </b> {{team.name}}<br>
<b>Manager: </b> {{team.manager}}<br>
<b>Mailing Address: </b>{{team.address}}<br>
<b>City: </b>{{team.city}}<br>

{% if team.state %}
<b>State: </b>{{team.state}}<br>
{% endif %}

<b>Zip Code: </b>{{team.zip_code}}<br>
<b>Home Phone: </b>{{team.home_phone}}<br>
<b>Cell Phone: </b>{{team.cell_phone}}<br>
<b>Email: </b>{{team.email}}<br>

{% if team.team_division %}
<b>Team Division: </b>{{team.team_division}}<br>
{% endif %}

{% if team.age_group %}
<b>Age Group: </b>{{team.age_group}}<br>
{% endif %}

{% if team.tournament %}
<b>Tournament Entered: </b>{{team.tournament}}<br>
{% endif %}

<hr>
<h6>The Baseball Legends</h6>
