{% load base_tags pages_tags staticfiles tournament_tags sponsors_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>The Baseball Legends</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="background-image" content="{% get_background %}">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="{% static 'ico.ico' %}">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/sponsors.css' %}">
        <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

		{% block extra_css %}{% endblock %}
		{% block extrahead %}{% endblock %}
    </head>
	<body id="bg">

    {# Render sidepanels from sponsors application #}
    {% render_sidepanels %}

	<header>
	<div id="header-top">
	<div  class="container">
		<p>THE OFFICIAL SITE OF THE BASEBALL LEGENDS</p>
		<div id="header-right" class="grey-bg">
		<form class="form-search" method="get" action="/search/">
		  <input name="search" type="text" placeholder="Search" id="search-input" onclick="searchInputEffect();">
		  <button type="submit" class="red-bg">Go!</button>
		</form>
			<div id="login-nav">
				<div id="register"><a href="/register/">REQUEST A SPOT</a></div>
			</div>
		</div>
	</div>
	</div>
	<div class="container">
	<div id="logo-01" >
		<h1>
			<a href="/">The Baseball Legends</a>
		</h1>
	</div>
	<div id="logo-02">
		<h2>
			<a href="/">TBL | Cecil Fielder</a>
		</h2>
	</div>
	</div>

	{% include 'menu.html' %}

	<select id="menu-responsive">
		<option value="">Site Navigation</option>
		<option value="/">Home</option>
		<option value="/content/about/">About</option>
		<option value="/news/">News</option>
		<option value="">Elite World Series</option>
		<option value="/tournaments/">TBL Tournaments</option>
		<option value="">Multimedia</option>
		<option value="">League Info</option>
		<option value="/standings/">Standings</option>
		<option value="/contact/">Contact Us</option>
	</select>
</header>
<div class="container">
	<div id="header-slider">
		<div class="slidesContainer">
			{# render header tournament slider #}
			{% render_tournaments %}
		</div>
		<div class="prev-arrow"></div>
		<div class="next-arrow"></div>
	</div>
</div>

{% block content %}
<p>Base Content</p>
{% endblock %}

<footer>
<div  class="container">
	<div id="footer-top">
		<div class="footer-top-title">
			<h2>conect with the baseball legends</h2>
			<ul id="social-nav">
				<li id="item_facebook" onclick="socialFooter('facebook')"  class="social-active"><img alt="" src="/static/img/facebook-icon.png" /></li>
				<li id="item_instagram" onclick="socialFooter('instagram')"><img alt="" src="/static/img/instagram-icon.png" /></li>
				<!-- removed google plus -->
				<!--
				<li id="item_plus" onclick="socialFooter('plus')"><img alt="" src="/static/img/plus-icon.png" /></li>
				-->
				<li id="item_pinterest" onclick="socialFooter('pinterest')"><img alt="" src="/static/img/pinterest-icon.png" /></li>
			</ul>
			<div class="social">
			<div id="facebook">
				<div class="social-section-left">
					<img alt="" src="/static/img/facebook.png" />
				</div>
				<div class="section-social-right">

				<iframe src="//www.facebook.com/plugins/likebox.php?href=http://www.facebook.com/CFEWS&amp;width=520&amp;height=185&amp;show_faces=true&amp;colorscheme=dark&amp;stream=false&amp;border_color&amp;header=false&amp;appId=117140091760566" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:520px; height:185px;" allowTransparency="true"></iframe>
				</div>
			</div>
			<div id="instagram">
				<div class="social-section-left">
					<h3>TBL ON INSTAGRAM</h3>
					<p>The Baseball Legends are on Instagram! <br />
						Check out behind the scenes.
					</p>
					<div class="btn-red-footer-top td red-bg"><a href="http://instagram.com/thebaseballlegends/">View Photos</a></div>
				</div>
				<div class="section-social-right">
					<a href="http://instagram.com/thebaseballlegends/" target="_blank"><img alt="" src="/static/img/instagram.png" /></a>
				</div>
			</div>
			<!-- removed google plus -->
			<!--
			<div id="plus">
				<div class="social-section-left">
					<h3>ADD US TO YOUR CIRCLES</h3>
					<p>The Official Pinterest of The Baseball Legends.</p>
				</div>
				<div class="section-social-right">
					<div class="g-plus" data-width="350" data-height="131" data-href="https://plus.google.com/110967630299632321627" data-rel="publisher"></div>
				</div>
			</div>
		    -->
			<div id="pinterest">
				<div class="social-section-left">
					<h3>FOLLOW US ON PINTEREST</h3>
					<p>Follow The Baseball Legends on Pinterest<br />
					And share your favorite organization to the world</p>

					<div class="btn-red-footer-top td red-bg"><a href="https://pinterest.com/tblbaseball/">FOLLOW US ON <strong>PINTEREST</strong></a></div>

				</div>
				<div class="section-social-right">
					<a href="https://pinterest.com/tblbaseball/"><img alt="" src="/static/img/pinterest.png" /></a>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div id="footer-bottom">
		<div id="footer-logo">
			<a href="#"></a>
		</div>

		{# inclusion tag for footer menu: pages application #}
		{% render_footer_menu %}

		<div id="footer-text">
		<p>
			© 2012 The Baseball Legends | Designed and Developed by <a href="http://www.686studio.com">686studio</a>.
		</p>
		<br>
		<p>
			The following are trademarks or service marks of The Baseball Legends entities and may be used only with permission of The Baseball Legends Properties, LLC. or the relevant The Baseball Legends entity: TBL Tournament, The Baseball Legends, TBL, the silhouetted batter logo, Cecil Fielder Elite World Series, National Championship Series, East VS. West National Championship Series and the names, nicknames, logos, color combinations, and slogans designating the The Baseball Legends entities, and their respective mascots, events and exhibitions.<br />
			Use of the Website signifies your agreement to the Terms of Use and Privacy Policy (updated 09.25.2012).
		</p>
		</div>
	</div>
</div>
</footer>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-19244396-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<script type="text/javascript" src="{% static 'js/vendor/modernizr-2.6.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/jquery-1.8.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jflow.plus.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.hoverpulse.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
	<script type="text/javascript" src="{% static 'js/base_script.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/website/start.js' %}"></script>
	{% block javascript %}{% endblock %}
	{% block extra_js %}{% endblock %}
</body>
</html>
