{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div id="content">
    <!-- Left Content -->
        <div id="left-content">
            <div id="news">
                <div class="content-title red-bg">
                    <h3>Contact Us</h3>
                </div>
                <div id="contact-left">
                    <form action="{% url 'contact' %}" method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <div id="contact-submit">
                            <input type="submit" name="#" value="Submit">
                        </div>
                    </form>
                </div>
                <div id="contact-right">

                    <p><strong>The Baseball Legends, LLC</strong></p>
                    <p>
                    <strong>Main Office:</strong><br />
                    The Baseball Legends, LLC<br />
                    924 Evelyn Ave.<br />
                    Brawley, CA 92227<br />
                    Office Number: 760-230-5952<br />
                    Fax Number: 760-230-5953<br />
                    </p>
                    <div id="contact-link">
                        <p><a href="http://www.thebaseballlegends.com/">www.thebaseballlegends.com</a></p>
                        <p><a href="mailto:info@thebaseballlegends.com">info@thebaseballlegends.com</a></p>
                    </div>

                </div>
            </div>
            </div>
        <!-- /Left Content -->

        <!-- Right Content -->
        <div id="right-content">
            {% include "rigth_content.html" %}
        </div>
        <!-- /Right Content -->

    </div>
</div>
{% endblock %}