{% extends 'base.html' %}

{% load home_tags staticfiles inplace_edit video_tags tournament_tags %}
{% load panel_tags gallery_tags popup_tags %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'js/libs/easyslider/js/easySlider1.7.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/slides.min.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home/effects.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home/home_slidebar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home/panel_home.js' %}"></script>

{% inplace_toolbar %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<div class="container">
	<div id="content">
	<!-- Left Content -->
		<div id="left-content">
			<!-- Left Content First -->
			<div id="left-content-first">

				{# Render News post images in Slides (First Column) #}
				{# Templatetag app: website #}
				{# Template name: home/news_slides.html #}
				{% render_news_slides %}

				<!-- CECIL FIELDER ELITE  WORLD SERIES -->
				<div id="elite-content">
					<div class="head-title red-bg">
						<h2>cecil fielder elite  world series</h2>
					</div>
					<div id="elite-container">
						<div class="items-container">
							{% render_words %}
						</div>
					</div>

					<div class="world-prev-arrow"></div>
					<div class="world-next-arrow"></div>
				</div>
				<!-- /CECIL FIELDER ELITE  WORLD SERIES -->

				<!-- Standings -->
				{% render_panel 'panel-left-up' %}

				<!-- Photos -->
				{% render_albums %}
				<!-- /Photos -->

				<!-- Scores -->
				{% render_panel 'panel-left-down' %}
				<!-- /Scores -->

				<!-- Clinics/Showcase -->
				{% render_panel 'panel-center-down' %}
				<!-- /Clinics/Showcase -->

			</div>
			<!-- /Left Content First -->

			<!-- Left Content Second -->
			<div id="left-content-second">
				<!-- Headlines -->
				<div id="headlines">
					<div class="head-title red-bg">
						<h2>headlines</h2>
					</div>
					{# render headline from website inclusion tag #}
					{% render_news_headlines %}
				</div>
				<!-- /Headlines -->

				<!-- Best of The Best Qualifier -->
				<div id="up-coming-content">
					<div class="head-title red-bg">
						<h2>NYBC Qualifier</h2>
					</div>

					{# render tournaments #}
					{% render_qualifiers %}

				</div>
				<!-- Up Coming Event -->

				<!-- TBL Clinics -->
				{% render_panel 'panel-right-down' %}
				<!-- /TBL Clinics -->
			</div>
			<!-- /Left Content Second -->

			<div class="buttom-image">
				<a href="http://www.gettravel.com/baseballlegends/" target="_blank">
					<img src="{% static 'img/themepark-socal-horizontal.jpg' %}" width='620'>
				</a>
				
			</div>

			
			</div>
			<!-- /Left Content -->

			<!-- Right Content -->
			<div id="right-content">
				<div id="video-corner">
					<h2>Video Corner</h2>
					{# Render video slider #}
					{% render_video_slider %}

					<div id="prev-arrow-video" class="prev-arrow-video" onclick="javascript:void(0);"></div>
					<div id="next-arrow-video" class="next-arrow-video" onclick="javascript:void(0);"></div>
				</div>
				{% include "rigth_content.html" %}
			</div>
			<!-- /Right Content -->
		</div>
	</div>
</div>

{# Render video pop up templates #}
{% render_video_popup_templates %}

<!-- Start Pop up -->
{% home_popup %}
<!-- End pop up-->

<div id="video-live">
</div>

{% endblock %}
