{% load base_tags sponsors_tags pages_tags tournament_tags %}

<ul id="nav" class="red-bg">
    <li>
        <a href="{% url 'home' %}" >home</a>
    </li>
    <li>
        <a href="{% url 'page' 'about' %}" >about</a>
        <ul class="dropdown">
            <li id="section-left">
                {% pages_menu 'about' %}
            </li>
            <li id="section-right">
                <div class="ad-nav">
                    {% render_sponsor '208x230' %}
                </div>
                <div class="ad-nav">
                    {% render_sponsor '208x230' %}
                </div>
            </li>
        </ul>
    </li>
    <li>
        <a href="/news/" >news</a>
        <ul class="dropdown">
            <li id="section-left">
                {# Render Post categories list #}
                {# templatetags: website:base_tags #}
                {% pages_menu 'news' menu_post_categories_list %}
            </li>
            <li id="section-right">
                <div class="ad-nav">
                    {% render_sponsor '208x230' %}
                </div>
                <div class="ad-nav">
                    {% render_sponsor '208x230' %}
                </div>
            </li>
        </ul>
    </li>
    <li>
        <a href="{% best_of_the_best_link %}" >National Championship</a>
        <ul class="dropdown">
            <li id="section-left">
                <ul>
                    {% for world in base.worlds %}
                    <li><a href="{{ world.page.get_absolute_url }}" >{{ world.name }}</a></li>
                    {% endfor %}
                    <li><a href="{{base.waiver_ca_world_forms.0.get_absolute_url}}" target="_blank">Waiver CA Forms</a></li>
                    <li><a href="{{base.roster_ca_world_forms.0.get_absolute_url}}" target="_blank">Roster CA Forms</a></li>
                    <li><a href="{{base.waiver_az_world_forms.0.get_absolute_url}}" target="_blank">Waiver AZ Forms</a></li>
                    <li><a href="{{base.roster_az_world_forms.0.get_absolute_url}}" target="_blank">Roster AZ Forms</a></li>
                    <ul>
                    {% worlds_menu False %}
                </ul>
                <ul>
                    {% worlds_menu True %}
                </ul>

                    {% pages_menu 'ews' %}
                </ul>
            </li>
            <li id="section-right">
                <div class="ad-nav">
                    {% render_sponsor '208x230' %}
                </div>
                <div class="ad-nav">
                    {% render_sponsor '208x230' %}
                </div>
            </li>
        </ul>
    </li>
    <li>
        <a href="{% url 'tournament_logo_page' %}" >tbl tournaments</a>
        <ul class="dropdown">
            <li id="section-left">
                <ul>
                    {% tournaments_menu False %}
                </ul>
                <ul>
                    {% tournaments_menu True %}
                </ul>
            </li>

            <li id="section-right">
                <div class="ad-nav">
                    {% render_sponsor '208x230' %}
                </div>
                <div class="ad-nav">
                    {% render_sponsor '208x230' %}
                </div>
            </li>

        </ul>
    </li>
    <li>
        <a href="" >multimedia</a>
        <ul class="dropdown">
            <li id="section-left">
                <ul>
                    <li><a href="{% url 'videos_list' %}" >Video Media</a></li>
                    <li><a href="{% url 'albums_list' %}" >Photo Gallery</a></li>
                    {% pages_menu 'multimedia' %}
                </ul>
            </li>
            <li id="section-right">
                <div class="ad-nav">
                    {% render_sponsor '208x230' %}
                </div>
                <div class="ad-nav">
                    {% render_sponsor '208x230' %}
                </div>
            </li>
            {% for item in base.multimedia %}
            <li>
                <a href="{{item.get_absolute_url}}" {% if item.is_external%}target="_blank"{% endif %}>
                    {{item.title}}
                </a>
            </li>
            {% if item == base.multimedia.14 %}
            </ul><ul>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
    <li>
        <a href="#" >league info</a>
        <ul class="dropdown">
            <li id="section-left">
                <ul>
                    {% for item in base.league_info %}
                    <li>
                        <a href="{{item.get_absolute_url}}" {% if item.is_external%}target="_blank"{% endif %}>
                            {{item.title}}
                        </a>
                    </li>
                    {% if item == base.league_info.14 %}
                    </ul><ul>
                    {% endif %}
                    {% endfor %}
                    {% pages_menu 'league_info' %}
                </ul>
            </li>
            <li id="section-right">
                <div class="ad-nav">
                    {% render_sponsor '208x230' %}
                </div>
                <div class="ad-nav">
                    {% render_sponsor '208x230' %}
                </div>
            </li>
        </ul>
    </li>
    <li>
        <a href="{% url 'shop' %}" >SHOP TBL</a>
    </li>
    <li style="border: none;">
        <a href="/contact/" >contacts us</a>
    </li>
</ul>
