{% load sponsors_tags staticfiles panel_tags shop_tags %}

{% render_banner_panel 'first-banner' %}

<div class="ad-sponsor">
    {# Second random sponsor 300x250px #}
    {% render_sponsor '300x250' %}
</div>

<div class="ad-sponsor">
    {# Third random sponsor 300x250px #}
    {% render_sponsor '300x250' %}
</div>

{% render_shop_widget %}
