{% load i18n %}

<table stype="border-decoration:none">
    <tr>
        <th>{% trans "Image" %}:</th>
        <th>{% trans "Change" %}:</th>
    </tr>
    <tr>
        <td rowspan="2">
            <a target="_blank" href="{{ MEDIA_URL }}{{ value }}">
                <img src="{{ MEDIA_URL }}{{ value }}" height="50">
            </a>
        </td>
        <td>
            <p><input type="file" name="{{ name }}" value="{{ value }}" id="id_{{ name }}" style="width:130px;"></p>
            {% if show_delete_button %}
                <b>{% trans "Delete" %}:</b>
                <input type="checkbox" name="{{ name }}_delete"/>
            {% endif %}
        </td>
    </tr>
</table>