{% extends "admin/change_form.html" %}

{% block content %}

    <!-- IMPORTANT enctype attribute! -->
    <form class="dropzone" id="galleryDropzone" action="{% url "api:add_photo" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="gallery-id" name="album">
        <input type="hidden" name="title" value="No name">
        <input type="hidden" name="is_front" value="">
    </form>

    {{block.super}}
{% endblock %}